body{
	margin-left: 0px;
}
.container{
	display: flex;
	-webkit-justify-content: center;
}
h1{
	font-family: 'Ranchers', cursive;
	font-size: 3em;
	border-bottom:1px solid pink;
	border-right: 1px solid pink;
	width:400px;
	text-align: center;
	box-shadow: 6px 6px 6px #888888;
}
img{
	width:350px;
	height:300px;
	transition: all 1s;
}
img:hover{
	transform: scale(1.1);
}